#### Ex 1

In [7]:
print(f'Hello {name}')

NameError: name 'name' is not defined

In [8]:
try:
    print(f'Hello {name}')

except NameError:
    print('No {name} defined')

No {name} defined

#### Ex 2

In [11]:
try:
    x = 10 + "ABC"
    
except TypeError:
    print("Can't concatenate int and string")

Can't concatenate int and string

#### Ex 3

In [15]:
try:
    list = [1,2,3,4,5]
    list[7]

except IndexError as e:
    print(f"Can't find index from the list, {e} ")

Can't find index from the list, list index out of range

#### Ex 4

In [20]:
try:
    x = 10/0
except ZeroDivisionError as e:
    print(f"Error, '{e}' has occured")

Error, 'division by zero' has occured