### FOR loops

In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
my_list = [1,4,7,10,-5]

In [5]:
my_list

[1, 4, 7, 10, -5]

In [7]:
for i in my_list:
    print(i)

1
4
7
10
-5

In [8]:
my_tuple = (3, -2, "Hello", True)
my_tuple

(3, -2, 'Hello', True)

In [13]:
for i in my_tuple:
    print(i)

3
-2
Hello
True

In [15]:
for i in range(100):
    print(f"Barbara {i}")

Barbara 0
Barbara 1
Barbara 2
Barbara 3
Barbara 4
Barbara 5
Barbara 6
Barbara 7
Barbara 8
Barbara 9
Barbara 10
Barbara 11
Barbara 12
Barbara 13
Barbara 14
Barbara 15
Barbara 16
Barbara 17
Barbara 18
Barbara 19
Barbara 20
Barbara 21
Barbara 22
Barbara 23
Barbara 24
Barbara 25
Barbara 26
Barbara 27
Barbara 28
Barbara 29
Barbara 30
Barbara 31
Barbara 32
Barbara 33
Barbara 34
Barbara 35
Barbara 36
Barbara 37
Barbara 38
Barbara 39
Barbara 40
Barbara 41
Barbara 42
Barbara 43
Barbara 44
Barbara 45
Barbara 46
Barbara 47
Barbara 48
Barbara 49
Barbara 50
Barbara 51
Barbara 52
Barbara 53
Barbara 54
Barbara 55
Barbara 56
Barbara 57
Barbara 58
Barbara 59
Barbara 60
Barbara 61
Barbara 62
Barbara 63
Barbara 64
Barbara 65
Barbara 66
Barbara 67
Barbara 68
Barbara 69
Barbara 70
Barbara 71
Barbara 72
Barbara 73
Barbara 74
Barbara 75
Barbara 76
Barbara 77
Barbara 78
Barbara 79
Barbara 80
Barbara 81
Barbara 82
Barbara 83
Barbara 84
Barbara 85
Barbara 86
Barbara 87
Barbara 88
Barbara 89
Barbara 90
Barbara 91
Barbara 92
Barbara 93
Barbara 94
Barbara 95
Barbara 96
Barbara 97
Barbara 98
Barbara 99

In [16]:
for i in my_tuple:
    print("Hello")

Hello
Hello
Hello
Hello

### WHILE loops

In [17]:
counter = 0
while counter<5:
    print(counter)
    counter +=1

0
1
2
3
4

In [27]:
counter = 0
while counter<5:
    print(counter)
    counter +=1
    if counter ==3:
        break
    
print(counter)

0
1
2
3

#### exercise 1

In [32]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

#### exercise 2

In [37]:
x = 10
while x>1:
    print(x)
    x = x/2

10
5.0
2.5
1.25

#### exercise 3

In [46]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numbers:
    print(i)
    if i == 5:
        break
    
print("Loop is terminated")

1
2
3
4
5
Loop is terminated

#### exercise 4

In [60]:
for i in range(3):
    print("*" * 5)

*****
*****
*****

In [59]:
for i in range(3):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****