#### Ex 1

In [1]:
# created the file "Test"

#### Ex 2

In [2]:
import csv

In [6]:
file_path = "../Datasets/Test.csv"

In [7]:
with open(file_path, 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['id,name,age,city']
['1,Alice,34,New York']
['2, Bob, 23, Los Angeles']
['3, Charlie, 40, Chicago']
['4, Diana, 28, Houston']
['5, Evan, 19, Phoenix']

#### Ex 3

In [9]:
numbers = list(range(1, 1001))

In [10]:
with open('numbers.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Number', 'Square'])  
    for num in numbers:
        writer.writerow([num, num**2])  

print("numbers.csv created successfully!")

numbers.csv created successfully!